{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block body_block %}
    {% if user.is_authenticated %}
    <h1>Rango says... hello {{ user.username }}!</h1>
    {% else %}
    <h1>Rango says... hello world!</h1>
    {% endif %}

    {% if categories %}
        <h3>Most Popular Categories</h3>
        <ul>
            {% for category in categories %}
            <li><a href='{% url "category" category.slug %}'>{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}

    {% if pages %}
        <h3>Most Popular Pages</h3>
        <ul>
            {% for page in pages %}
            <li><a href='{{ page.url }}'>{{ page.title }}</a> ({{ page.views }} views)</li>
            {% endfor %}
        </ul>
    {% endif %}

    <p> visits: {{ visits }}</p>

{% endblock %}
